* {
  margin: 0;
  padding: 0; }

body {
  background-color: #21232E; }

p {
  color: #FFFFFF;
  font-family: "Source Sans Pro", sans-serif; }

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url("../img/m-h-night.jpg") no-repeat 0 58%;
  background-size: cover;
  border-radius: 0px 0px 650px/300px 0px;
  padding-top: 15px;
  min-height: 100vh; }
  .header .header-wrap {
    max-width: 1080px;
    width: 100%; }
    .header .header-wrap .landing-logo {
      display: flex;
      justify-content: space-between;
      width: 12%; }
      .header .header-wrap .landing-logo p {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        text-align: center; }
      .header .header-wrap .landing-logo span {
        display: block;
        font-size: 11px;
        font-family: "Hind", sans-serif; }

.header_heading {
  max-width: 50%;
  position: relative;
  z-index: 1;
  margin: 60px 0px;
  font-size: 72px;
  font-weight: bold;
  line-height: 1; }
  .header_heading:after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    background-color: #FF4E33;
    width: 55%;
    height: 20px;
    bottom: 4px; }

.header_text {
  margin-bottom: 60px;
  white-space: pre-line; }

.header_button, .section_banner .section_banner_button {
  padding: 14px 50px;
  color: #FFFFFF;
  background-color: #E3AC00;
  border: 0;
  border-radius: 3px; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .section .section_text {
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    z-index: 1;
    font-size: 36px;
    margin: 35px 0;
    text-align: center; }
    .section .section_text::before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      background-color: #FF4E33;
      width: 45%;
      right: 12px;
      bottom: 5px;
      height: 10px;
      border: 4px; }
  .section .section_card_wrap {
    display: flex;
    justify-content: center;
    max-width: 1080px;
    margin-bottom: 250px; }
    .section .section_card_wrap .section_card {
      display: flex;
      flex-direction: column;
      padding: 15px;
      background-color: #3B3F50;
      border-radius: 7px;
      flex-wrap: wrap;
      margin-right: 15px;
      width: 32%; }
      .section .section_card_wrap .section_card p {
        color: #FFFFFF; }
      .section .section_card_wrap .section_card .section_card_heading {
        margin: 0 auto;
        position: relative;
        z-index: 1;
        font-weight: bold;
        font-size: 20px;
        line-height: 2.5;
        font-family: "Source Sans Pro", sans-serif; }
        .section .section_card_wrap .section_card .section_card_heading::after {
          content: '';
          display: block;
          position: absolute;
          z-index: -1;
          background-color: #FF4E33;
          width: 100%;
          bottom: 12px;
          height: 10px;
          border: 4px; }
      .section .section_card_wrap .section_card .section_card_text {
        font-size: 14px;
        color: #FFFFFF;
        line-height: 1.5;
        text-align: center;
        font-family: "Hind", sans-serif; }
      .section .section_card_wrap .section_card img {
        width: 100%;
        border-radius: 7px; }

.section_banner {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right, #E1A902, #963250);
  border-radius: 7px;
  position: absolute;
  z-index: 2;
  height: 120px;
  width: 50%;
  bottom: -60px;
  align-items: center; }
  .section_banner .section_banner_heading {
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    z-index: 1;
    font-size: 26px; }
    .section_banner .section_banner_heading::before {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      background-color: #FF4E33;
      width: 16%;
      right: 191px;
      bottom: 4px;
      height: 10px;
      border: 4px; }
  .section_banner .section_banner_text {
    font-family: "Hind", sans-serif;
    color: #FFFFFF; }
  .section_banner .section_banner_button {
    margin: 20px 0; }

.footer {
  background-color: #3B3F50; }
  .footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    margin: 0 15%;
    padding-bottom: 40px; }
    .footer .footer-wrap .landing-logo {
      display: flex;
      justify-content: space-between;
      width: 12%; }
      .footer .footer-wrap .landing-logo p {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        color: #FFFFFF;
        font-family: "Hind", sans-serif; }
      .footer .footer-wrap .landing-logo span {
        display: block;
        font-size: 11px;
        color: #FFFFFF; }
    .footer .footer-wrap .footer_text {
      display: flex;
      justify-content: center;
      width: 28%;
      color: #FFFFFF; }
    .footer .footer-wrap .footer-cr {
      display: flex;
      justify-content: flex-end;
      color: #FFFFFF;
      font-family: "Hind", sans-serif; }

/*# sourceMappingURL=style2.css.map */
