<header>
    <div class="header_text">
        <h1>Source Name</h1>
    </div>
    <div class="header_navigation">
        <div class="header_select header_position">
            <input type="text">
        </div>
        <div class="header_filter header_position">
            <input type="text">
            <button class="btn_filter">Filter</button>
        </div>
        <div class="header-add header_position">
            <button class="btn_add--article"><a routerLink="/create-news">Article</a> </button>
        </div>
    </div>
</header>

<main>
    <div class="main_news">
        <div class="main_news_foto">
            <div class="main--foto"><img src="" alt=""></div>
            <div class="main--news">
                <h3>NewsItem</h3>
                <p></p>
                <button class="btn_details"><a routerLink="/news-details">Details...</a></button>
            </div>
        </div>
        <div class="main_date">
            <p>Date:</p>
        </div>
    </div>
</main>