<div class="container">  
    <header>
        <div class="header_text" >
            <h1>{{title_news}}</h1>
        </div>
        <nav class="header_navigation">
            <select name="details" id="details" class="header_select header_position">
                <option value="all">All catrgories</option>
                <option value="bus">Bus</option>
                <option value="car">Car</option>
                <option value="motobike">Motobike</option>
            </select>
            <div class="header_filter header_position">
                <input type="text" placeholder="Type your text...">
                <button class="btn_filter btn_style">Filter</button>
            </div>
            <div class="header-add header_position">
                <button class="btn_add btn_style"><a routerLink="create-news">Add Article</a> </button>
            </div>
        </nav>
    </header>
    <hr>

    <main>
        <div class="main_news_categories" *ngFor="let car of filteredNews">
            <div class="categories_info">
                <div class="categories_foto">
                    <img [src]="car.image" alt="foto">
                </div>
                <div class="categories_news">
                    <h3>{{car.author}} {{car.content}}</h3>
                    <p>{{car.description}}</p>
                    <button class="btn_details btn_style"><a [routerLink]="['news-details', car.id]">Details...</a></button>
                </div>
            </div>
            <div class="categories_date">
                <p>Date: {{car.date}}</p>
            </div>
        </div>
    </main>
</div>  