.element1 {
    font-size: 40px;
    position: relative;
    left: 20%;
}

.element2 {
    font-size: 30px;
    position: relative;
    right: 3%;
    top: 20%;
}

.element3 {
    font-size: 20px;
    position: relative;
    right: 40%;
    top:40%;
}
.hideEmoji{
    display: none;
}