$bodyBackground: #21232E;
$mainTextColor: #FFFFFF;
$imgBackgroundHeader: url('../img/m-h-night.jpg') ;
$headerButtonBGC:#E3AC00;
$headerButtonColorText: #FFFFFF;
$SectionCardBGC: #3B3F50;
$borderTextBGC:#FF4E33;
$colorSectionCardText: #FFFFFF;
$linearGradient: linear-gradient(to right, #E1A902, #963250);
$footerBGC: #3B3F50;
$footerTextColor: #FFFFFF;
$footerLogoColor:#FFFFFF;