$bodyBackground: #FFFFFF;
$mainTextColor: #2C2F3C;
$imgBackgroundHeader: url('../img/m-h-day.jpg') ;
$headerButtonBGC:#699900;
$headerButtonColorText: #FFFFFF;
$SectionCardBGC: #21232E;
$borderTextBGC:#14A0C7;
$colorSectionCardText: #C0C3CE;
$linearGradient: linear-gradient(to right, #64940F, #2F5DD1);
$footerBGC: #21232E;
$footerTextColor: #C0C3CE;
$footerLogoColor:#C0C3CE;
// $mainFont: ;
// $gradientFooterBanner: ;