<div class="container">
    <header>
        <div class="header_text">
            <h1>{{title_newsDetails}}</h1>
        </div>
    </header>
    <main>
        <div class="main_news">
            <div class="main_categories_foto">
                <img src="https://cdn.pixabay.com/photo/2019/09/04/20/34/plantation-4452538_1280.jpg" alt="foto">
            </div>
            <div class="main_categories_info">
                <h1>NewsLine</h1>
                <p class="categories_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam at, deleniti exercitationem maxime
                    incidunt laborum aliquam nam delectus dolorum molestias nemo consectetur, laboriosam temporibus
                    obcaecati! Id nam reiciendis tenetur numquam?</p>
                <p class="main_categories_date">Date:</p>
                <p class="main_categories_author">Author</p>
            </div>
        </div>
    </main>
</div>